.container{
    flex:3 !important;
}
.MenuList{
    display: flex;

}
.ImageContainer{
    flex:1;
}
.TextContainer{
    flex:2;
}
@media screen and (max-width: 768) {
    .container{
        flex: 1;
    }
}