.container{
    padding: 30px 0;
}
.title {
    padding: 10px 0;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--softTextColor);
}

.title::placeholder {

    font-size: 28px;
    color: #d1d1d3;
}

.editor {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.edit {
    display: flex;
    gap: 5px;
}

.button {
    height: 26px;
    width: 26px;
    border-radius: 100%;
    text-align: center;
    background-color: transparent;
    color: #d1d1d3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
}

.addButton {
    height: 26px;
    width: 26px;
    border-radius: 100%;
    text-align: center;
    background-color: transparent;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

.area {
    padding: 10px 10px;
    width: 100%;
    margin-top: 20px;
    border: none;
    background-color: transparent;
    color: var(--softTextColor);
    outline: none;
    height: 10vh;
}

.area::placeholder {
    font-size: 26px;
    color: var(--softTextColor);
}
.text{
    margin-top: 30px;
    color: var(--softTextColor);
}