.item {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.image {
    object-fit: cover;
}

.TextContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sub {
    font-size: 12px;

}

.date {
    color: var(--softTextColor);
    font-weight: 600;
}

.category {
    color: #a52a2a;
    color: var(--catColor);
    font-weight: 600;
    color:crimson;

}

.head {
    margin-top: 12px;
    font-size: 20px;
}

.description {
    color: var(--softTextColor);
    font-size: 16px;
    margin-bottom: 12px;
}

.read {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid brown;

}

@media screen and (max-width: 690px) {
    .item {
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px
    }

    .TextContainer {
        text-align: center;
    }

    .head {
        font-size: 20px;
    }

    .description {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {


    .head {
        font-size: 20px;
    }

    .description {
        font-size: 12px;
    }
}