.container {
    flex: 4 !important;

}

.items {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

@media screen and (max-width: 690px) {
    .title {
        text-align: center;
        width: 100%;
    }
}